/*Working with HTML*/
body{
  background-image: url("img.jpg");
}
#pdiv{
  background-color:lightblue;
}
#spanex{
  background-color:lightgreen;
}

#table{
  border: 1px dotted blue;

}
/**Working with CSS examples**/
#bgcolor{
  background-color:lightyellow;
}
#color{
  color: teal;
}
#align{
  text-align: center;
}
#font{
  font-family:fantasy;
}
#size{
  font-size: 25px;
}
#float{
  background-color:grey;
  float:right;
}
#width{
  width: 60px;
}
#height{
  height: 70px;
}
#margin-padding{
  border: 3px solid green;
  margin: 30px 40px;
  padding: 50px;
}
#maxwidth{
  border: 1px solid pink;
  max-width: 70px;
}
#overflow1{
  overflow: visible;
  width:70px;
  height: 70px;
  background-color:purple;

}
#overflow2{
  overflow: hidden;
  width:70px;
  height: 70px;
  background-color:green;
}
#overflow3{
  overflow: scroll;
  width:70px;
  height: 70px;
  background-color:lightblue;
}
#fixpos{
  background-color: pink;
  border: 1px solid blue;
  position: fixed;
  top: 0px;
  right: 0px;
}
#relpos{
  border: 1px solid purple;
  position: relative;
  background-color:lightyellow;
}
#abspos{
  border: 1px solid magenta;
  position: absolute;
  background-color:lightblue;
}
#staticpos{
  border: 1px solid orange;
  position: static;
  background-color: lightgreen;
}
#inline{
  border: 1px dotted teal;
  display: inline;
}
#inlineblock{
  border: 1px dotted green;
  display: inline-block;
}
#block{
  border: 1px dotted grey;
  display: block;
}
